// Import Global Font 

@import url('https://fonts.googleapis.com/css2?family=Special+Gothic&display=swap');


// Variables 

$main-color : #647ae1;
$main-shadow : rgba(66, 153, 225, 0.25);
$light-main-text-color : #a0aec0;
$bold-text : #333340;
$main-text-color :#29303a;
$focus-bg : #f6f7fc;
$main-bg : #ffffff;
$border-color : #eeeeee;
$text-paragh : #ababb5;
$empty-bg-color: #f8f9fa;
$empty-text-color: #6c757d;
$empty-border-color: #dee2e6;
$card-gap: 1rem;
$main-font : "Special Gothic",
sans-serif;